
:root{
    --a0: #6272a4;
    --a1: #373842;
    --a2: #282a36;
    --a3: #21222c;
    --a5: #191a21;
    
    --g1: #50fa7b;

    --b1: white;

    --r1: #ff5555;

    --orange: #f8b369;
    --blue: #2E95D3;
    --pink: #ff79c6;
    --green: #50fa7b;
    --red: #ff5555;
    --yellow: #e9f284;
    --white: #f8f8f2;
    --gray: #ffffff55;
}
